*{
 padding: 1%;
}

header, p{
 background-color: #f7f7f9;
 padding: 5px 0;
 border-radius: 16px;
 margin-bottom: 10px;
}

h1{
 text-align: center;
 color: darkblue;
}

p{
 font-size: 20px;
 padding: 4%;
}

